.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.card-title {
  color: #171f46;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description {
  color: #64748b;
  font-size: 16px;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-1 {
  border-left: 5px solid #ff4f64;
}
.card-2 {
  border-left: 5px solid #00a8e7;
}
.card-3 {
  border-left: 5px solid #44c4a1;
}
.card-4 {
  border-left: 5px solid #fcc200;
}
